<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
    <script>
        var HOST = "http://localhost:7100";
        var BUCKET_NAME = "taeyeon-1254139325";
        var REGION = "ap-nanjing";
    </script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<input type="button" onclick="queryList()" value="上传文件">
<br><br>
<input type="button" th:if="${page.getPage() gt 0}" onclick="lastList()" value="上一页">
<block th:text="${page.getPage()} + 1"/>
<input type="button" th:if="${page.getSize() eq 20}" onclick="nextList()" value="下一页">
<table>
    <tr th:each="entity:${page.getData()}">
        <br>
        -------------------------------------------------------------------------------------------------------------
        <p th:text="${entity.getCreateTime()}"></p>
        <p th:text="${entity.getOriginFileName()}"></p>
        <p th:text="${entity.getUrl()}"></p>
        <p th:if="${entity.getType() eq 'jpg' || entity.getType() eq 'png' || entity.getType() eq 'gif'}">
            <img th:src="${entity.getUrl()} + '?imageMogr2/thumbnail/400x'"/>
        </p>
        -------------------------------------------------------------------------------------------------------------
    </tr>
</table>
<script>
    function queryList() {
        window.location.href = HOST;
    }

    function lastList() {
        var page = [[${page.getPage()}]] - 1;
        window.location.href = HOST + "/list?size=20&page=" + page;
    }

    function nextList(page) {
        var page = [[${page.getPage()}]] + 1;
        window.location.href = HOST + "/list?size=20&page=" + page;
    }
</script>
</body>
</html>