<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
</head>
<body>
<div id="app" style="margin:0 auto; width:1700px;">
    <div style="zoom: 2;">
        <input type="button" @click="upload()" value="上传文件" style="margin:0 auto;">
        <input v-if="!isLogin" type="text" v-model="pwd" placeholder="神秘代码">
        <input v-if="!isLogin" type="button" @click="login()" value="确定">
        <input v-if="isLogin" type="button" @click="logout()" value="清除神秘代码">
    </div>
    <br><br>
    <div style="zoom: 2">
        <input type="button" @click="lastList()" value="上一页">
        第{{page}}页
        <input type="button" @click="nextList()" value="下一页">
    </div>
    <br>
    <div>
        <div v-for="(item,index) in data" style="float: left; width: 400px; height: 526px">
            <br>
            {{(page - 1) * size + index + 1}}.
            {{item.originFileName}}
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<a @click="copyUrl(item.url)" style="color: cadetblue">[复制链接]</a>
            &nbsp;&nbsp;&nbsp;&nbsp;<a @click="open(item.url)" target="view_window" style="color: pink">[查看源文件]</a>
            <br>
            <br>
            <div style="width: 400px; height: 500px">
                <img v-if="item.type=='jpg' || item.type=='png' || item.type=='gif' || item.type=='jpeg'"
                     v-bind:src="item.url+'?imageView2/2/w/300/h/300'"/>
                <!--        <audio v-if="item.type=='flac' || item.type=='mp3' || item.type=='wav'"-->
                <!--               v-bind:src="item.url" controls="controls"></audio>-->
                <br>
                <br>
                <input v-if="isLogin" type="button" @click="confirmRemove(item.fileName)" value="删除">
            </div>
            <br>
        </div>
    </div>
<!--    <br>-->
<!--    <div style="zoom: 2">-->
<!--        <input type="button" @click="lastList()" value="上一页">-->
<!--        第{{page}}页-->
<!--        <input type="button" @click="nextList()" value="下一页">-->
<!--    </div>-->
    <br>
</div>
<script type="text/javascript" src="js/vue.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/cos-js-sdk-v5.min.js"></script>
<script src="js/common.js"></script>
<script src="js/list.js"></script>
</body>
</html>